@tailwind base;
@tailwind components;
@tailwind utilities;
input[type='file']::file-selector-button {
  background: #464646;
  border: 0;
  color: #fff;
  cursor: pointer;
  padding: 0.625rem 1rem 0.625rem 2rem;
  margin-inline-start: -1rem;
  margin-inline-end: 1rem;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
